
.clear{
    clear:both;
}
header{
    background-color: blue;
    margin:0;
}
nav{
    border:5px dotted red;
    border-bottom: 10px solid blue;
    border-radius: 20px;
    height: 100px;
}
nav ul li{
    display:inline-block;
    padding:10px 0px 10px 40px;
    margin: 20px 5px 20px 90px;
    background-color: red;
}
nav ul li a:hover{
    background-color:black;
    color:white;
}
footer {
    box-sizing:content-box;
}
.column {
    float:left;
    width: 25%;
    font-size:xx-large;
}
.relative
{
    position:relative;
}
.cards {
    position:relative;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
}