/* Structual Elements Go Here */
*{
    box-sizing:border-box;
}
body {
    background-color: #123;
    color:#555;
    margin:0;
    font-family: 'Quicksand', arial, sans-serif;
}
#wrapper{
    display:grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0,175px)) minmax(0px, 1fr);
}
nav{
    grid-column: -3/-2;
    background-color:#93BFA8;
    grid-row: 1/2;
}
nav ul{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    margin:0;
    padding:0;
    padding-top:20px;
    list-style-type:none;
}
nav ul li{
    width:100%;
}
nav ul li a{
    width:100%;
    text-decoration: none;
    color:#555;
    display:block;
    padding:10px;
}
nav ul li a:active, nav ul li a:hover{
    background-color:#fff;
    color:#cb423b;
}
main{
    grid-row:1/2;
    grid-column: 2/-3;
    background-color:#ffffff;
    padding:20px;
}
footer{
    grid-column:2/-2;
    background-color: rgb(34,58,81);
    color:#c2c2c2;
    font-size:1rem;
    padding:20px;
}
p{
    line-height:1.25rem;
}
a{
    color:#585b59;
}
h3{
    border-bottom:2px #555 solid;
}
.responsive{
    width:100%;
}
.side{
    width:300px;
    padding-bottom: 20px;
    font-style: italic;
    font-size:.75rem;
    float: right;
}
.clear{
    clear:both;
}
.logo{
    width:90%;
    padding:20px;
    max-width:175px;
}
video{
    height:320px;
    float:left;
    padding-right:20px;
}

/* Media Query of 960 and less goes here */
@media only screen and (max-width:960px) {
    nav ul{
        flex-direction:row;
    }
    nav ul li{
        text-align: center;
    }
    .side, video{
        width:100%;
        padding:0px;
        float:none;
    }
    nav{
        grid-column:1/-1;
        grid-row:1/2;
    }
    main{
        grid-column:1/-1;
        grid-row:2/3;
    }
    footer{
        grid-row:3/4;
    }
    nav{
        text-align:center;
    }
}


























